<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466964968223-prhr5alq9scs37ctvar93qbevgac8dm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466964968223-prhr5alq9scs37ctvar93qbevgac8dm2</string>
	<key>API_KEY</key>
	<string>AIzaSyDftsn-4scOdgJzm0o8zGi2lO_a_adQJag</string>
	<key>GCM_SENDER_ID</key>
	<string>466964968223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.appt</string>
	<key>PROJECT_ID</key>
	<string>appt-nl</string>
	<key>STORAGE_BUCKET</key>
	<string>appt-nl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466964968223:ios:f2060a5a654f5229f7362a</string>
	<key>DATABASE_URL</key>
	<string>https://appt-nl.firebaseio.com</string>
</dict>
</plist>