@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url('OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Source Sans';
    font-weight: 600;
    src: url('OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    src: url('OpenSans-Bold.ttf');
}

:root {
    color-scheme: light dark;

    --color-primary: #d023be;
    --color-selection: #d023be80;
    --color-background: #fff;
    --color-foreground: #222;
    --color-divider: #ddd;
    
    --image-external: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyMiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzIDNWNUgxOC41NjI1TDYuMjgxMjUgMTcuMjgxMkw3LjcxODc1IDE4LjcxODhMMjAgNi40Mzc1VjEySDIyVjNIMTNaTTAgN1YyNUgxOFYxMkwxNiAxNFYyM0gyVjlIMTFMMTMgN0gwWiIgZmlsbD0iI0QwMjNCRSIvPgo8L3N2Zz4K");
}

::-moz-selection {
    background-color: var(--color-selection);
}
::selection {
    background-color: var(--color-selection);
}

* {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    word-break: break-word;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
*:focus, *:active {
    outline: dotted;
    outline-color: var(--color-primary);
    outline-width: .1em;
    outline-offset: .1em;
}

body, html, table {
    font-size: max(18px, 1rem);
    color: var(--color-foreground);
    background-color: var(--color-background);
}

html {
    font: -apple-system-body;
}

a {
    color: var(--color-primary);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: --color-primary;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
a[href*="//"]:not([href*="appt.nl/kennisbank/"]) {
    background-image: var(--image-external);
    background-size: .77em .77em;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
    font-size: 1.25rem;
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
}

p {
    margin: 0 0 1.5em 0;
}

figure {
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

img {
    max-width: 100% !important;
    max-height: 90vh !important;
    width: auto !important;
    height: auto !important;
}

figcaption {
    font-style: italic;
}

iframe {
    width: 100% !important;
    height: 50vw !important;
}

table {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    border: 1px solid var(--color-divider);
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    white-space: nowrap;
    background-color: var(--color-divider);
}
th, td {
    min-width: 100px;
    text-align: left;
    border: 1px solid var(--color-divider);
    padding: 3px 6px;
}

pre, blockquote {
    font-family: monospace;
    font-size: 0.9rem;
    display: block;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
    page-break-inside: avoid;
    word-wrap: break-word;
    background: var(--color-divider);
    border: 1px solid var(--color-divider);
    border-left: 3px solid var(--color-primary);
    color: var(--color-foreground);
}

blockquote {
    margin: 1em;
}

hr {
    margin: 2rem 0;
    height: 2px;
    border: 0;
    background: var(--color-divider);
    color: var(--color-divider);
}

ul {
    padding: 0 0 0 1.25em;
}
ul li {
    padding: 0 0 0.5em 0;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --color-primary: #e773d9;
        --color-background: #121212;
        --color-foreground: #ededed;
        --color-divider: #222;
        
        --image-external: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyMiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzIDNWNUgxOC41NjI1TDYuMjgxMjUgMTcuMjgxMkw3LjcxODc1IDE4LjcxODhMMjAgNi40Mzc1VjEySDIyVjNIMTNaTTAgN1YyNUgxOFYxMkwxNiAxNFYyM0gyVjlIMTFMMTMgN0gwWiIgZmlsbD0iI0U3NzNEOSIvPgo8L3N2Zz4K");
    }
}
